<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxuan.goods.center.mapper.BrandMapper">

    <resultMap id="BaseResultMap" type="com.youxuan.goods.center.entity.Brand">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="first_char" jdbcType="VARCHAR" property="firstChar"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, `name`, first_char, `status`, created_time, updated_time, created_by, updated_by,
      is_deleted
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from brand
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
      delete from brand
      where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.youxuan.goods.center.entity.Brand"
            useGeneratedKeys="true">
      insert into brand (`name`, first_char, `status`,
        created_time, updated_time, created_by,
        updated_by, is_deleted)
      values (#{name,jdbcType=VARCHAR}, #{firstChar,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
        #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT},
        #{updatedBy,jdbcType=BIGINT}, #{isDeleted,jdbcType=BIT})
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.youxuan.goods.center.entity.Brand"
            useGeneratedKeys="true">
        insert into brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="firstChar != null">
                first_char,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="firstChar != null">
                #{firstChar,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.youxuan.goods.center.entity.Brand">
        update brand
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="firstChar != null">
                first_char = #{firstChar,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.youxuan.goods.center.entity.Brand">
      update brand
      set `name` = #{name,jdbcType=VARCHAR},
        first_char = #{firstChar,jdbcType=VARCHAR},
        `status` = #{status,jdbcType=INTEGER},
        created_time = #{createdTime,jdbcType=TIMESTAMP},
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
        created_by = #{createdBy,jdbcType=BIGINT},
        updated_by = #{updatedBy,jdbcType=BIGINT},
        is_deleted = #{isDeleted,jdbcType=BIT}
      where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectAllBrand" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from brand;
    </select>

    <select id="selectBrandPageList" resultMap="BaseResultMap">
        select id, `name`, first_char
        from brand
        <where>
            <if test="brand.name != null and brand.name != '' ">
                `name` like concat('%',#{brand.name},'%')
            </if>
            <if test="brand.firstChar != null and brand.firstChar != '' ">
                and first_char like concat('%',#{brand.firstChar},'%')
            </if>
            and status = 1 and is_deleted = 0
        </where>
    </select>

    <update id="batchDelete" parameterType="java.util.List">
        <if test="ids != null and ids.size() > 0">
            <foreach collection="ids" item="item" index="index" separator=";">
                update brand set status = 2,is_deleted = 1,updated_time = now(),updated_by = 1
                <where>
                    id = #{item}
                </where>
            </foreach>
        </if>
    </update>

</mapper>