<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youxuan.goods.center.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.youxuan.goods.center.entity.Category">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type_template_id" jdbcType="BIGINT" property="typeTemplateId"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="is_deleted" jdbcType="BIT" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, parent_id, `name`, type_template_id, created_time, updated_time, created_by,
      updated_by, `status`, is_deleted
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from category
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
      delete from category
      where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.youxuan.goods.center.entity.Category" useGeneratedKeys="true">
      insert into category (parent_id, `name`, type_template_id,
        created_time, updated_time, created_by,
        updated_by, `status`, is_deleted
        )
      values (#{parentId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{typeTemplateId,jdbcType=BIGINT},
        #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT},
        #{updatedBy,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{isDeleted,jdbcType=BIT}
        )
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.youxuan.goods.center.entity.Category" useGeneratedKeys="true">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="typeTemplateId != null">
                type_template_id,
            </if>
            <if test="createdTime != null">
                created_time,
            </if>
            <if test="updatedTime != null">
                updated_time,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="typeTemplateId != null">
                #{typeTemplateId,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.youxuan.goods.center.entity.Category">
        update category
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="typeTemplateId != null">
                type_template_id = #{typeTemplateId,jdbcType=BIGINT},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.youxuan.goods.center.entity.Category">
      update category
      set parent_id = #{parentId,jdbcType=BIGINT},
        `name` = #{name,jdbcType=VARCHAR},
        type_template_id = #{typeTemplateId,jdbcType=BIGINT},
        created_time = #{createdTime,jdbcType=TIMESTAMP},
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
        created_by = #{createdBy,jdbcType=BIGINT},
        updated_by = #{updatedBy,jdbcType=BIGINT},
        `status` = #{status,jdbcType=INTEGER},
        is_deleted = #{isDeleted,jdbcType=BIT}
      where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectCategoryList" resultType="com.youxuan.goods.center.api.result.CategoryListResultDTO">
      select id, parent_id, `name`, type_template_id
      from category
      where status = 1 and is_deleted = 0;
  </select>

    <update id="batchDelete" parameterType="java.util.List">
        <if test="categoryIds != null and categoryIds.size() > 0">
            <foreach collection="categoryIds" item="item" index="index" separator=";">
                update category set updated_time=now(), updated_by=#{updatedBy}, is_deleted=1, status=2
                <where>
                    id = #{item}
                </where>
            </foreach>
        </if>
    </update>

</mapper>